@media all and (max-width: 1200px) {
}

@media all and (max-width: 991px) {
  :root {
    font-size: 14px;
  }
}

@media all and (max-width: 699px) {
  :root {
    font-size: 10px;
  }
}

@media all and (max-width: 590px) {

.medium{
    width: 10rem
}
h1{
    font-size: 2rem;
}
h4{
    font-size: 1rem;
}
} 
@media all and (max-width: 430px) {

.medium{
    width: 10rem
}
h1{
    font-size: 1.5rem;
}
h4{
    font-size: 0.8rem;
}
.phone-no{
    font-size: 0.69rem;
}
} 
